// $main_color:  #FFD050;
// $hover_color:  #EDC14A;
// $hover_text:  #FBF6EA;
// $other_color:  #592EA9;
// $text_color:  #232536;
// $accent_color: #FFF;
// $background_color: #F4F0F8;
// $border_color: #6D6E76;
// $border_button_color: #4C4C4C;
// $sen_bold: "Sen-Bold";
// $inter_regular: "Inter-Regular";
// $inter_medium: "Inter-Medium";
// $inter_semi_Bold: "Inter-SemiBold";
// $Inter_Black: "Inter-Black";


$main_color: #0F2650;
$accent_color: #01CFC9;
$text_color: rgba(0, 0, 0, 0.72);
$other_color:  #FFF;
$button_color: linear-gradient(90deg, #0F2650 0%, rgba(15, 38, 80, 0.81) 100%);
$background_color: #EEFBFA;
$background_footer_color: rgba(1, 207, 201, 0.20);
$icon_color: #B7ECEA;
$poppins_regular: "Poppins-Regular";
$poppins_medium: "Poppins-Medium";
$poppins_bold: "Poppins-Bold";
$poppins_extra_bold: "Poppins-ExtraBold";
$Poppins-SemiBold: "Poppins-SemiBold";

