.promo {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 595px 649px;
        gap: 65px;
    }
    &__title {
        span {
            color: $accent_color;
        }
    }
    &__icon {
        min-width: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: $main_color;
    }
    &__phone {
        color: $main_color;
        text-decoration: none;
        display: block;
    }
    &__text {
        margin-top: 32px;
    }
    &__button {
        margin-top: 50px;
    }
    &__contacts {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 90px;
    }
    &__item {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__img {
        margin-top: -70px;
    }
}
.services {
    padding-top: 120px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        margin-top: 16px;
        text-align: center;
    }
    &__tabs {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 16px 16px;
        list-style-type: none;

    }
    &__tab {
        height: 55px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        border-radius: 10px;
        background: $main_color;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        color: $accent_color;
        cursor: pointer;
        transition: 0,5s all;
        &_active {
            border: 1px solid $accent_color;
            background: $other_color;
            color: $main_color;
        }
    }
    &__content {
        margin-top: 25px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px; 
        border: 1px solid $accent_color;
        border-radius: 16px;
        background: $other_color;
        margin-bottom: 16px;
        transition: 0.4s;

        &:hover {
            background: $icon_color;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 646px 426px;
        gap: 170px;
    }
    &__subtitle {
        margin-top: 10px;
    }
    &__text {
        margin-top: 20px;
    }
    &__info {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__item {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    &__icon {
        min-width: 89px;
        width: 89px;
        height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: $icon_color;
    }
    &__content-title {
        font-family: "Poppins-Medium";
        font-size: 22px;
        margin-bottom: 4px;
    }
    &__img {
        margin-top: -60px;
    }
}

.request-form {
    padding-top: 120px;
    margin-bottom: -120px;
    position: relative;
    z-index: 1000;

    &__container {
        display: block;
        width: 1010px;
        height: max-content;
        padding: 43px 158px;
        border-radius: 76px;
        background: $button_color;
    }
    &__title {
        color: $accent_color;
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 27px;
    }
    &__row {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__input {
        input {
            width: 335px;
            height: 65px;
            padding: 0 24px;
            font-size: 22px;
            color: $text_color;
            border-radius: 14px;
            background: $other_color;
            border: none;
        }
    }
    &__textarea {
        textarea {
            width: 694px;
            height: 126px;
            padding: 20px 24px;
            font-size: 22px;
            color: $text_color;
            border-radius: 14px;
            background: $other_color;
            border: none;
            resize: none;  
        }
    }
    &__button {
        display: flex;
        margin: 0 auto;
        background: $accent_color;
        font-size: 18px;
        color: $main_color;
        cursor: pointer;
        border: none;
        position: relative;

        &:disabled {
            opacity: 0.8;
            cursor: default;
        }

        &-text {
            display: 1;
        }

        &-spinner {
            opacity: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #FFF;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }
    }
    
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 