* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular";
    // background: $background_color;
}

body {
    background: #EEFBFA;
}

.container {
    position: relative;
    max-width: 1228px;
    margin: 0 auto;
}
.header {
    position: relative;
    z-index: 1000;

    &__menu {
        display: flex;
        gap: 72px;
        width: max-content;
    }
    &__logo {
        display: flex;
        justify-content: flex-start;
    }
    &__container {
        margin-top: 53px;
        margin-bottom: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        text-decoration: none;
        color: $text_color;
        font-family: $poppins_medium;
        font-size: 18px;
        line-height: normal;
    }
    &__button {
        display: flex;
        justify-content: flex-end;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 47px;
    background: $button_color;
    padding: 10px 44px;
    color: $accent_color;
    font-family: $poppins_medium;
    font-size: 18px;
    line-height: normal;
    border-radius: 14px;
    text-decoration: none;
    &_big {
        height: 65px;
        font-family: $Poppins-SemiBold;
        font-size: 22px;
    }
    // &:hover {
    //     background: $hover_color;
    // }
}
.title {
    font-family: $poppins_bold;
    color: $main_color;
    font-size: 48px;
    line-height: normal;
    &-h2 {
        font-size: 36px;
        line-height: normal;
    }
    &-h3 {
        color: $accent_color;
        font-size: 24px;
        line-height: normal;
        text-transform: uppercase;
    }
}
.text {
    font-family: $poppins_regular;
    font-size: 20px;
    line-height: normal;
    color: $text_color;
    &_big {
        font-size: 22px;
    }
    &_medium {
        font-family: $poppins_medium;
        font-size: 18px;
        line-height: normal;
        &-color {
            color: $accent_color;
        }
    }
    &_small {
        font-family: $poppins_regular;
        font-size: 16px;
        line-height: normal;
    }
    &_bold {
        font-family: $Poppins-SemiBold;
        font-size: 16px;
        line-height: normal;
    }
}

